html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-label{
    text-align: center;
    margin: auto;
}

button:focus{
    outline: none;
}